body{
  height:100vh;
  background: url(images/bg.jpg) no-repeat center center/cover ;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-style: normal; from google font */

}



.toDo h1{
text-align: center;
font-size: 40px;
font-weight: 600;
color: rgb(31, 60, 97);
}

/* .todoForm label{
  color: rgb(92, 88, 88);
} */

form #input-task{
  width: 200px;
  height: 40px;
border-radius: 10px;
border: 2px solid palevioletred;


/* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); */
}

form #Add-task{
  width: 60px;
  height: 40px;
  border-radius: 7px;
  border: none;
  color: green;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px; /*some change*/
  border: 2px solid palevioletred;
  cursor: pointer;

}
form #Add-task:hover{
  background-color: rgb(18, 78, 18);
  color: white;
}

.task {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  
}

.task.done {
  background-color: aqua;
}

.task li{
  list-style: none;
  flex: 4;
  padding: 5px;
  font-size: 1.3rem;
  margin: 10px;
}
.task button{
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  
  
}
.task .checkboxInput{
  color: orange;  
  margin-right:5px;
  /* height: 15px;
  width: 30px; */
  border: 1px solid palevioletred;;

}

.task .checkboxInput:hover{
  cursor: pointer;
  background-color: orange;
  color: white;
}

.task .deletTask{
  color: red;
  background-color: white;
  border: 1px solid palevioletred;

}

.task .deletTask:hover{
  color: white;
  background-color: red;
}


